*{
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     box-sizing: border-box;
}
p{
     padding: 10px;
     margin: 10px;
     text-align:justify;
     font-size: 1.5rem;
}
